//colors

/*
$primary-color: #2a4494;
$secondary-color: #224870;
$accent-color: #44cfcb;
$background-color: #122c34;
$background-color-2: #4ea5d9;
$white: #eee;
$black: #111;
*/

$primary-color: #2a4494;
$background-color-2: #224870;
$accent-color: #44cfcb;
$background-color: #122c34;
$secondary-color: #4ea5d9;
$white: #eee;
$black: #111;
