@use "../variables/variables" as *;

.contacto {
  &__container {
    background-color: $white;
    color: $black;
    min-height: 90vh;
  }

  #fname,
  #lname {
    font-size: 3rem;
  }

  .boton {
    font-size: 2rem;
  }

  padding: 10rem 0;

  display: flex;
  //   align-items: center;
  justify-content: center;

  gap: 5rem;
}

.hidden {
  display: none;
}

.showed {
  display: block;
}
